<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes articles</h2>
      <p>Date: {{ today }}</p>
      <p>Date: {{ today | date }}</p>
      <p>Date: {{ today | date : "short" }}</p>
      <ul class="list-group">
        <button class="btn btn-primary" type="button" routerLink="/add">
          Ajout d'un article
        </button>
        <app-article
          *ngFor="let article of articles; let i=index"
          [category]="article.category"
          [title]="article.title"
          [id]="i"
        ></app-article>
      </ul>
    </div>
  </div>
</div>
